* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: Poppins;
	transition: all 0.25s ease;
	--gray: rgb(100, 100, 100);
	--light-gray: rgb(245, 245, 245);
	--hover-light: rgb(249, 249, 249);
	--hover-dark: rgb(234, 234, 234);
	--radius: 30px;
	--close-shadow: 0 2px 6px rgba(0, 0, 0, 0.025), 0 8px 14px rgba(0, 0, 0, 0.0625);
	--distant-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 12px 20px rgba(0, 0, 0, 0.1);
	--top-shadow: 0 -2px 6px rgba(0, 0, 0, 0.025), 0 -8px 14px rgba(0, 0, 0, 0.0625);
}

.material-icons-round {
	color: var(--gray);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

li a {
	text-decoration: none;
}

li a:hover {
	background-color: var(--hover-dark);
	border-radius: var(--radius);
}

nav,
ul {
	display: flex;
}

nav {
	justify-content: right;
	padding: 12px 18px;
}

nav ul {
	align-items: center;
	list-style: none;
}

nav ul li {
	margin-left: 6px;
	font-size: 12px;
	font-weight: 500;
}

nav ul .nav-link {
	padding: 6px 12px;
	color: rgb(20, 20, 20);
}

#account-icon {
	margin: 4px;
	padding: 2px;
	font-size: 36px;
}

#apps-icon {
	margin-left: 6px;
	padding: 6px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#google-logo {
	width: 80%;
	max-width: 272px;
	margin-bottom: 20px;
}

#search-bar {
	display: flex;
	width: 85%;
	max-width: 580px;
	padding: 6px 20px;
	margin: 24px 0;
	border-radius: var(--radius);
	background-color: var(--light-gray);
	box-shadow: var(--close-shadow);
}

#search-bar #search-icon {
	position: relative;
	top: 5px;
	font-size: 22px;
}

#search-bar input {
	position: relative;
	top: 0px;
	height: 30px;
	width: 100%;
	margin-left: 14px;
	font-size: 16px;
	background-color: transparent;
}

#search-buttons {
	margin: 4px 20px;
	text-align: center;
}

#search-buttons button {
	cursor: pointer;
	padding: 10px 20px;
	margin: 10px 8px;
	color: rgb(30, 30, 30);
	background-color: var(--light-gray);
	border-radius: var(--radius);
	box-shadow: var(--close-shadow);
}

#search-bar input:focus {
	outline: none;
}

#search-bar:hover,
#search-bar:focus-within,
#search-buttons button:hover {
	background-color: var(--hover-light);
}

#search-bar:focus-within,
#search-buttons button:hover {
	box-shadow: var(--distant-shadow);
}

#search-language {
	margin: 20px;
	font-size: 13px;
}

#search-language a {
	text-decoration: none;
}

#search-language a:hover {
	text-decoration: underline;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--light-gray);
	box-shadow: var(--top-shadow);
}

#country-info,
#footer-nav {
	padding: 0 16px 0 40px;
	min-height: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	color: var(--gray);
}

#footer-nav {
	margin-left: -12px;
	border-top: 1px solid rgb(220, 220, 220);
}

#footer-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

#footer-nav li {
	padding: 10px 0;
}

#footer-nav ul li a {
	margin-right: 14px;
	padding: 6px 12px;
	text-decoration: none;
	color: var(--gray);
}

@media screen and (max-width: 780px) {
	#country-info,
	#footer-nav {
		padding: 0 20px;
		flex-direction: column;
		justify-content: space-evenly;
	}
	#footer-nav {
		margin: 0;
		padding: 10px 20px;
	}
	#footer-nav ul li a {
		margin: 4px;
	}
}